.carousel {
    width:370px;
    height:380px;
}

.dropbtn {
    background-color: rgb(#343a40);
    color: red;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #343a40;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(#868e96);
    z-index: 1;
}

.dropdown-content a {
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #212529;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #212529;}